@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #414141;
    padding-top: 100px;
    font-family: "Montserrat", sans-serif;
}

table {
    display: flex;
	align-items: center;
    justify-content: center;
}

section {
    padding: 10px;
	display: flex;
    margin-top: 80px;
    align-items: center;
    flex-direction: column;
	justify-content: center;
}

.terminar-modulo {
    display: flex;
    margin-bottom: 10px;
	align-items: baseline;
}

.duration {
    position: relative;
}

.clock-icon {
    top: 50%;
	left: 10%;
    width: 16px;
	height: 14px;
    position: absolute;
    background-size: contain;
    background-position: center;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-image: url(clock.png);
}

.tempoInput {
    padding-left: 22px;
}

h1 {
    margin-bottom: 10px;
}

p {
    font-weight: bold;
    margin: 10px 10px;
}

input {
    margin: 3px;
    padding: 6px;
    height: 11px;
    width: 100px;
    border-radius: 5px;
	border: 1px solid #a3a3a3;
}

input[type="text"] {
    width: 300px;
    font-weight: bold;
	font-family: 'Montserrat';
}

input[type="text"].tempoInput {
    width: 60px;
    text-align: center;

}

select, button#addRowButton, button#timeButton {
    font-family: "Montserrat", sans-serif;
}

button#addRowButton, button#timeButton {
    padding: 6px;
    width: 160px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #ffffff;
}

.modulo {
    color: black;
    background-color: white;
}

select {
    height: 25px;
    font-weight: bold;
    border-radius: 5px;
    margin: 3px 5px 3px 3px;
    color: rgb(101 25 23);
	border: 1px solid #a3a3a3;
    background-color: rgb(215 92 92 / 83%);
}

option {
    color: black;
    font-weight: bold;
    background-color: white;
}


button#addRowButton {
    color: #0d3559;
    background-color: #4eaec9;
}

button#timeButton {
    color: rgb(33 8 35 / 83%);
    background-color: #cd668cd4;
}

div.horas-dia {
    display: none;
    padding-top: 10px;
    letter-spacing: 2px;
    border-radius: 15px;
}

.final {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tempo-dias {
    top: 0;
    width: 100%;
    padding: 10px;
    position: fixed;
    color: #102f24; 
    text-align: center; 
    background: linear-gradient(90deg, rgb(216 213 217) 0%, rgb(210 239 245) 48%, rgb(169 244 220) 100%);
}

.total h2, .horas-dia h2 {
    margin: 10px;
    font-size: 0.9em;
    letter-spacing: 2px;
}

footer {
    bottom: 0px;
    width: 100%;
    color: #000;
    padding: 5px 0px;
    margin-top: 10px;
	font-size: 0.8em;
	position: relative;
	text-align: center; 
}

footer a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

footer a:hover {
    color: rgb(48 167 129);
}
